[submodule "fix-simulator"]
	path = fix-simulator
	url = https://github.com/talhabektas/toyotaproject.git
[submodule "kafka-consumer-opensearch"]
	path = kafka-consumer-opensearch
	url = https://github.com/talhabektas/toyotaproject.git
